.content{
  background: url('../img/muesum-bg.png') 0 0 no-repeat,
              url('../img/muesum-bg-1.png') 0 1124px repeat-y;
  position: relative;
  max-width: 750px;
  overflow: hidden;
}
.main{
  $top:152px;
  box-sizing: border-box;
  margin-top: $top;
  // min-height: calc(100vh - 152px - 192px);
  background: url('../img/muesum-content-bg-1.png') 0 0 no-repeat;
  padding-top: 192px;
  position: relative;
}
.main-bg{
  min-height: calc(100vh - 152px - 192px);
  width: 100%;
  background: url(../img/muesum-content-bg-2.png) 27px 0 repeat-y;
  position: relative;
  padding-bottom: 130px;
  top: -2px;
}
.bar-box{
  height: 100%;
  position: absolute;
  top: 0;
  width: 103px;
  
}
.bar-bg{
  width: 100%;
  position: absolute;
  top: 889px;
  height: 100%;
}
.bar-box-left{
  background: url(../img/muesum-bar-left-1.png) -4px 0 no-repeat;
  .bar-bg{
    background: url(../img/muesum-bar-left-2.png) 18px 0 repeat-y;
  }
}
.bar-box-right{
  right: 0;
  background: url(../img/muesum-bar-right-1.png) 13px 0 no-repeat;
  .bar-bg{
    background: url(../img/muesum-bar-right-2.png) 35px 0 repeat-y;
  }
}
.footer{
  width: 100%;
  height: 108px;
  position: fixed;
  bottom: 0;
  left: 0;
  background: url(../img/muesum-bg-2.png) no-repeat;
}
.car-list{
  width: 700px;
  margin: 0 auto;
}
.car-row{
  height: 282px;
  background: url(../img/stage-bg.png) 0 bottom no-repeat;
  display: flex;
  padding: 0 62px;
  margin-top: 70px;
  &:first-child{
    margin-top: 0;
  }
}
.car-item{
  margin-top: -20px;
  &:first-child{
    margin-right: 41px;
  }
}
.imgbox{
  width: 226px;
  height: 214px;
  margin: 0 auto;
  background: url(../img/car-header-bg.png) no-repeat;
  position: relative;
  img{
    width: 132px;
    height: 132px;
    border-radius: 100%;
    position: absolute;
    top: 52px;
    left: 47px;
  }
}
.car-name{
  width: 244px;
  height: 68px;
  line-height: 68px;
  color: #fff;
  font-size: 26px;
  background: url(../img/car-name-bg.png) no-repeat;
  text-align: center;
  margin-top: -18px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space:nowrap;
}